@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first {
    max-height: 900px;
    overflow: hidden;
}

.first_background {
    padding-bottom: 206px;
}

body {
    font-family: 'Open Sans', sans-serif;
    counter-reset: #414141;
}

.first_login {
    font-weight: 700;
    font-size: 14px;
}

.wrapper {
    width: 1232px;
    margin: 0 auto;
}

.header {
    background-color: rgb(247, 247, 244, 0.9);
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.first_logo {
    margin-top: 24px;
}

.first_logo,
.first_nav {
    float: left;
}

.first_nav {
    list-style: none;
}

.first_nav {
    margin-top: 31px;
}

.link {
    text-decoration: none;
    color: #414141;
}

.first_login .link {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 16px 24px 16px 26px;
    border: 1px solid #6AA089;
}
.first_login .button {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #6AA089;
    padding: 16px 23px 16px 26px;
    margin-left: 57px;
    margin-top: 31px;
}
.first_nav ul {
    list-style: none;
}

.first_nav ul li {
    display: inline-block;
    margin-left: 28px;
}

.first_nav ul li:last-of-type {
    margin-right: 0;
}

.first_login {
    float: right;
    margin-top: 31px;
    height: 56px;
}
/* Текст */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 44px;
}

p {
    font-size: 19px;
}

/* Фотография */
.photo {
    max-width: 100%;
    overflow: hidden;
}

.photo {
    position: relative;
    top: -88px;
    left: 617px;
}

/*Задний фон*/
.first_background {
    overflow: hidden;
    padding-top: 118px;
    position: relative;
    top: -866px;
}
.second_login .link {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 16px 24px 16px 26px;
    border: 1px solid #6AA089;
    padding-right: 30px;
}

.first_content h2 {
    margin-bottom: 81px;
}
.first_content p {
    margin-top: 39px;
}
.second_login {
    padding-top: 108px;
    float: left;
    padding-bottom: 206px;
}

.second_login .button {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #6AA089;
    padding: 16px 23px 16px 26px;
}

/* Вторая страница*/
.Second {
    overflow: hidden;
    margin-top: 100px;
    padding: 60px 0;
}

.team_right,
.team_left {
    float: left;
}

.team_right {
    margin-right: 100px;
}

.team_left {
    margin-top: 65px;
}

.team_left p {
    margin-left: 139px;
    margin-top: 37px;
}

/* hell */
.green {
    color: #6AA089;
}

.so {
    text-align: center;
}

/* Третья страница */
.Third {
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 70px;
}

.collab_left,
.collab_right {
    width: 50%;
    float: left;
}
.collab_right h3 {
    margin-bottom: 55px;
}

.collab_right p {
    margin-bottom: 36px;
}

.minilink {
    text-decoration: none;
    color: #414141;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #6AA089;
    padding: 20px 43px 22px 37px;
}

.collab_right .minilink {
    font-weight: 700;
}

.collab_left img {
    max-width: 100%;
    overflow: hidden;
}

.collab_left {
    position: relative;
    
}

.collab_right {
    margin-top: 30px;
}