@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first {
    max-height: 900px;
    overflow: hidden;
}

.first_background {
    padding-bottom: 206px;
}

body {
    font-family: 'Open Sans', sans-serif;
    counter-reset: #414141;
}

.first_login {
    font-weight: 700;
    font-size: 14px;
}

.wrapper {
    width: 1325px;
    margin: 0 auto;
}

.header {
    background-color: rgb(247, 247, 244, 0.9);
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.first_logo {
    margin-top: 24px;
}

.first_logo,
.first_nav {
    float: left;
}

.first_nav {
    list-style: none;
}

.first_nav {
    margin-top: 31px;
}

.link {
    text-decoration: none;
    color: #414141;
}

.first_login .link {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 16px 24px 16px 26px;
    border: 1px solid #6AA089;
}
.first_login .button {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #6AA089;
    padding: 16px 23px 16px 26px;
    margin-left: 57px;
    margin-top: 31px;
}
.first_nav ul {
    list-style: none;
}

.first_nav ul li {
    display: inline-block;
    margin-left: 28px;
}

.first_nav ul li:last-of-type {
    margin-right: 0;
}

.first_login {
    float: right;
    margin-top: 31px;
    height: 56px;
}

/* анимация для первой страницы */

.first_nav .link:hover {
    border-bottom: 2px solid #414141;
}

.first_login .button:hover {
    background-color: #437460
}

.first_login .link:hover {
    border: 1px solid #1B4E65;
}

.second_login .link:hover {
    border: 1px solid #1B4E65;
}

.second_login .button:hover {
    background-color: #437460;
}

/* Текст */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 44px;
}

h4 {
    font-size: 24px;
}

p {
    font-size: 19px;
}

/* Фотография */
.photo {
    max-width: 100%;
    overflow: hidden;
}

.photo {
    position: relative;
    top: -88px;
    left: 617px;
}

/*Задний фон*/
.first_background {
    overflow: hidden;
    padding-top: 118px;
    position: relative;
    top: -866px;
}
.second_login .link {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 16px 24px 16px 26px;
    border: 1px solid #6AA089;
    padding-right: 30px;
}

.first_content h2 {
    margin-bottom: 81px;
}
.first_content p {
    margin-top: 39px;
}
.second_login {
    padding-top: 108px;
    float: left;
    padding-bottom: 206px;
}

.second_login .button {
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10px;
    background-color: #6AA089;
    padding: 16px 23px 16px 26px;
}

.second_login .button {
    margin-right: 22px;
}

/* Вторая страница*/
.Second {
    overflow: hidden;
    margin-top: 100px;
    padding: 60px 0;
}

.team_right,
.team_left {
    float: left;
}

.team_right {
    margin-right: 100px;
}

.team_left {
    margin-top: 65px;
}

.team_left p {
    margin-left: 139px;
    margin-top: 37px;
}


/* hell */
.green {
    color: #6AA089;
}

.so {
    text-align: center;
}

/* Третья страница */
.Third {
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 70px;
}

.collab_left,
.collab_right {
    width: 50%;
    float: left;
}
.collab_right h3 {
    margin-bottom: 55px;
}

.collab_right p {
    margin-bottom: 36px;
}

.minilink {
    text-decoration: none;
    color: #414141;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #6AA089;
    padding: 20px 43px 22px 37px;
    margin-top: 20px;
}

.collab_right .minilink {
    font-weight: 700;
}

.collab_left img {
    max-width: 100%;
    overflow: hidden;
}

.collab_left {
    position: relative;
    
}

.collab_right {
    margin-top: 30px;
}

/* анимация для третьей страницы */
.minilink:hover {
    border: 1px solid #1B4E65;
}

/* картинки */ 
.Pictures {
    overflow: hidden;
    margin-top: 73px;
    margin-bottom: 168px;
}

.picture1,
.picture2,
.picture3 {
    float: left;
}
.picture1 {
    width: 185px;
    margin-right: 117px;
    margin-left: 300px;
    margin-top: 28px;
}

.picture1 img {
    margin-bottom: 41px;
}

.picture1 h4 {
    margin-bottom: 25px;
}

.picture2 {
    width: 218px;
    margin-right: 107px;
    margin-top: 7px;
}

.picture2 img {
    margin-bottom: 41px;
}

.picture2 h4 {
    margin-bottom: 25px;
}

.picture3 {
    width: 204px;
}

.picture3 img {
    margin-bottom: 41px;
}

.picture3 h4 {
    margin-bottom: 25px;
}

/* работа */
.work {
    overflow: hidden;
    margin-top: 150px;
}

.work_left,
.work_right {
    float: left;
}

.work_left {
    width: 401px;
}

.work_right {
    width: 710px;
}

.work_left h3 {
    margin-bottom: 55px;
}

.work_left p {
    margin-top: 55px;
    margin-bottom: 52px;
}

.work_left {
    margin-right: 213px;
}

.work_left .minilink:hover {
    border: 1px solid #1B4E65;
}

/* лист */ 
.list1,
.list2,
.list3 {
    float: left;
}

.list p {
    text-align: center;
    font-size: 16px;
}

.list h4 {
    text-align: center;
}

.list1 {
    margin-left: 247px;
    width: 223px;
    margin-right: 96px;
    padding-top: 6px;
}

.list2 {
    width: 230px;
    margin-right: 90px;
    padding-top: 1px;
}

.list3 {
    width: 234px;
}

.aligncenter {
    text-align: center;
}

.list {
    margin-bottom: 300px;
}

/* мотивация */
.motivation {
    overflow: hidden;
    margin-top: 100px;
}

.motivation_left,
.motivation_right {
    float: left;
    width: 50%;
}

.motivation_right h3 {
    margin-bottom: 63px;
}

.motivation_right p {
    margin-top: 63px;
    margin-bottom: 52px;
}

/* фидбек */ 
.Feedback {
    overflow: hidden;
    margin-bottom: 119px;
}

.Feedback p {
    font-size: 16px;
}

.Feedback h4 {
    margin-top: 27px;
    margin-bottom: 23px;
}

.feedback1,
.feedback2,
.feedback3 {
    float: left;
    text-align: center;
}

.feedback1 {
    width: 207px;
    margin-right: 102px;
    padding-top: 20px;
    margin-left: 298px;
}

.feedback1 img {
    margin-top: 27px;
}

.feedback2 {
    width: 229px;
    margin-right: 93px;
    padding-top: 7px;
}

.feedback2 img {
    margin-top: 27px;
}

.feedback3 {
    width: 230px;
}

.feedback3 img {
    margin-top: 27px;
}

/* комбинированные элементы(команда) */

.Forth {
    max-height: 352px;
    overflow: hidden;
    margin-bottom: 145px;
}
.Elements {
    text-align: center;
}

.element_center h2 {
    margin-bottom: 52px;
}

.element_center p {
    margin-bottom: 33px;
}

/* Картинка */
.element_pic {
    position: relative;
    top: -343px;
    left: 1166px;
}

/* пятая страница */
.Fifth {
    overflow: hidden;
    padding: 30px;
    margin-bottom: 100px;
}

.fif {
    text-align: center;
}

.fif h2 {
    position: relative;
    z-index: 2;
}

.fif img {
    position: relative;
    top: -30px;
}

.last_button .last {
    border-radius: 10px;
    border: 1px solid #6AA089;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #6AA089;
    padding: 19px 50px 21px 50px;
}

.last_button .last:hover {
    background-color: #437460;
}

/* концовка */
.footer {
    overflow: hidden;
    margin-top: 100px;
    padding: 36px;
    background-color: #F7F7F4;
}

.last_logo {
    margin-bottom: 36px;
}

.footer p {
    margin-bottom: 46px;
}

.last_nav ul {
    list-style: none
}

.last_nav ul li {
    display: inline-block;
    margin-right: 18px;
}

.last_nav ul li:last-of-type {
    margin-right: 0px;
}

.contacts img {
    position: relative;
    top: -25px;
    float: right;
}

.last_nav .link:hover {
    border-bottom: 1px solid #414141;
}


